[Unit]
Description=etcd distributed key-value store
Documentation=https://github.com/etcd-io/etcd
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User=etcd
TimeoutStartSec=0
ExecStart=/usr/local/bin/etcd \
  --name {{ inventory_hostname }} \
  --data-dir /var/lib/etcd \
  --initial-advertise-peer-urls http://{{ ansible_host }}:2380 \
  --listen-peer-urls http://0.0.0.0:2380 \
  --listen-client-urls http://{{ ansible_host }}:2379,http://127.0.0.1:2379 \
  --advertise-client-urls http://{{ ansible_host }}:2379 \
  --initial-cluster-token pg-etcd-cluster \
  --initial-cluster {{ etcd_initial_cluster }} \
  --initial-cluster-state new \
  --enable-v2=true

Restart=always
RestartSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
