scope: {{ patroni_scope }}
namespace: /postgresql/
name: {{ inventory_hostname }}

restapi:
  listen: {{ node_ip }}:8008
  connect_address: {{ node_ip }}:8008

etcd:
  hosts: {{ etcd_endpoints }}

bootstrap:
  dcs:
    ttl: 30
    loop_wait: 10
    retry_timeout: 10
    maximum_lag_on_failover: 1048576
    postgresql:
      use_pg_rewind: true
      use_slots: true
      parameters:
        wal_level: replica
        hot_standby: on
        max_wal_senders: 5
        max_replication_slots: 5
        wal_keep_size: 256MB
        hot_standby_feedback: on
        logging_collector: on
        log_directory: log
        log_filename: postgresql-%Y-%m-%d.log

  initdb:
    - encoding: UTF8
    - data-checksums

  pg_hba:
    - host replication replicator 192.168.8.0/24 scram-sha-256
    - host all all 192.168.8.0/24 scram-sha-256
    - host all all 0.0.0.0/0 scram-sha-256

  users:
    admin:
      password: admin_password
      options:
        - createrole
        - createdb
    replicator:
      password: replicator_password
      options:
        - replication

postgresql:
  listen: {{ node_ip }}:5432
  connect_address: {{ node_ip }}:5432
  data_dir: /var/lib/patroni/{{ patroni_scope }}
  bin_dir: /usr/lib/postgresql/{{ pg_version }}/bin
  pgpass: /var/lib/postgresql/.pgpass
  authentication:
    replication:
      username: replicator
      password: replicator_password
    superuser:
      username: postgres
      password: postgres_password
    rewind:
      username: postgres
      password: postgres_password
  parameters:
    unix_socket_directories: /var/run/postgresql

tags:
  nofailover: false
  noloadbalance: false
  clonefrom: false
  nosync: false
